header {
	background-color: green;
	padding: 50px;
	
}

.centered-wrapper {
    margin: auto;
	width: 80%;
	/*border: 3px solid black;*/
	padding: 10px;
    text-align: center;
}

.nav ul {
	text-align: center;
	margin: auto;
	width: 80%;
    list-style-type: none;
	padding: 10px;
}

.leftAligned{
	float: left;
}

.rightAligned{
	float: right;
	padding-right:20px;
}

.CompanyDescription {
	height: 250px;
	border: 3px dashed black;
}

footer {
	padding: 10px;
}
