header {
	background-color: green;
	
}

.centered-wrapper {
    margin: auto;
	width: 80%;
	border: 3px solid black;
	border-top: none;
	padding: 10px;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    margin: auto;
	width: 80%;
	padding: 10px;
	border: 3px solid black;
	border-bottom:none;
	text-align: justify;
}

.nav li {
    display: inline;
}

.leftAligned{
	text-align: left;
}

.rightAligned{
	text-align: right;
}
