header {
	background-color: green;
	
}

.centered-wrapper {
    margin: auto;
	width: 80%;
	border: 3px solid black;
	padding: 10px;
    text-align: center;
}

.nav ul {
    list-style-type: none;
	width: 100%;
	padding: 10px;
	text-align: left;
}

.nav li {
    display: inline;
}

.leftAligned{
	text-align: left;
}

.rightAligned{
	text-align: right;
}
